---
layout: page 
---
  <div class="section">
    <div class="container">
        <h2>Articles</h2>
        {% for c in site.data.articles %} 
          <div class="row">&nbsp;</div>
          <div class="row">
            <div class="eight columns">
                {% if c.publisher.link %}
                <a href="{{c.publisher.link}}">{{c.publisher.name}}</a>
                {% else %}
                    {{c.publisher.name}}
                {% endif %}
            </div>
          </div>
          {% for article in c.publisher.articles %} 
          <div class="row">
            <div class="two columns">&nbsp;</div>
            <div class="six columns">
                <a href="{{article.link}}">{{article.name}}</a>
            </div>
          </div>
        {% endfor %}
        {% endfor %}
        <div class="row">&nbsp;</div>
        <h2>Technical Reviewer</h2>
        {% for c in site.data.reviews %} 
          <div class="row">
            <div class="twelvecolumns">
                <a href="{{c.link}}">{{c.name}}</a>, {{c.author}}{% if c.publisher %}, {{c.publisher }}{% endif %}
            </div>
          </div>
        {% endfor %}
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <p>More writing available on <a href="https://glasnt.com/blog">musings</a>. 
        <a href="https://unsplash.com/photos/vZJdYl5JVXY">Header image</a> via <a href="https://unsplash.com/">unsplash</a>
    </div>
  </div>
